.header {
    background: #e91e63;
    height: 50px;
    padding-top: 10px;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
    }

    &__link {
        margin-right: 10px;
    }

    &__save-button {
        margin-right: 10px;
    }
}