<footer class="footer">
    <div class="footer__container">
        <div class="footer__logo-container">
            <a href="https://www.t1-consulting.ru/" target="_blank">
                <img src="../../assets/images/logo.png" alt="Logo" class="footer__logo">
            </a>
        </div>
        <div class="footer__github-container">
            <a href="https://github.com/bobroden/t1-consalting-task-1" target="_blank">
                <img src="../../assets/icons/github.svg" alt="GitHub" class="footer__github">
            </a>
        </div>
    </div>
</footer>