<div class="list-of-tasks">

    <div class="list-of-tasks__button-container">
        <button mat-raised-button (click)="openCreatingDialog()" color="primary" class="list-of-tasks__add-button">
            Add task
        </button>
    </div>

    <mat-form-field appearance="standard" class="list-of-tasks__input-container">
        <mat-label class="list-of-tasks__input-label">Filter</mat-label>
        <input class="list-of-tasks__input" matInput (keyup)="applyFilter($event)" placeholder="filter" #input>
    </mat-form-field>

    <div class="list-of-tasks__table-container">
        <table class="list-of-tasks__table mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task"> {{task.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task"> {{task.name}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> Start date </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task"> {{task.startDate | date:'dd.MM.yy'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> End date </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task"> {{task.endDate | date:'dd.MM.yy'}} </td>
            </ng-container>

            <ng-container matColumnDef="priority">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task"> {{task.priority}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td class="list-of-tasks__value" mat-cell *matCellDef="let task">
                    <mat-chip-list aria-label="Category selection">
                        <mat-chip *ngFor="let category of task.category">{{category}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th class="list-of-tasks__title" mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="list-of-tasks__value list-of-tasks__value_actions" mat-cell *matCellDef="let task">
                    <mat-icon class="list-of-tasks__delete-button" (click)="openDeletingDialog(task)">delete</mat-icon>
                    <mat-icon class="list-of-tasks__edit-button" (click)="openChangingDialog(task)">edit</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
            <tr mat-row *matRowDef="let task; columns: displayedColums;"></tr>
            <div *ngIf="listOfTasks.length !== 0">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </div>
            
        </table>
    </div>
</div>