<div class="category-block">
    <form class="category-block__container" [formGroup]="categoryForm">
        <mat-form-field class="category-block__input-container">
            <mat-label class="category-block__label">Add a category</mat-label>
            <input class="category-block__input" formControlName="addFormControl" matInput placeholder="add">
            <mat-error *ngIf="categoryForm.controls['addFormControl'].hasError('minlength') && !categoryForm.controls['addFormControl'].hasError('required')">
                Please enter a category at least 3 characters long
            </mat-error>
            <mat-error *ngIf="categoryForm.controls['addFormControl'].hasError('required')">
                Category is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="addCategory()" color="primary" class="category-block__add-button">
            Add
        </button>
        <mat-form-field class="category-block__input-container">
            <mat-label class="category-block__label">Change a category</mat-label>
            <input class="category-block__input" formControlName="changeFormControl" matInput placeholder="change">
            <mat-error *ngIf="categoryForm.controls['changeFormControl'].hasError('minlength') && !categoryForm.controls['changeFormControl'].hasError('required')">
                Please enter a category at least 3 characters long
            </mat-error>
            <mat-error *ngIf="categoryForm.controls['changeFormControl'].hasError('required')">
                Category is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button [disabled]="!isChange" mat-raised-button (click)="changeCategory()" color="accent" class="category-block__change-button">
            Change
        </button>
    </form>
    <table class="category-block__table mat-elevation-z8" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name" class="category-block__name-column">
            <th class="category-block__title" mat-header-cell *matHeaderCellDef> Name </th>
            <td class="category-block__value" mat-cell *matCellDef="let category">{{category}}</td>
        </ng-container>

        <ng-container matColumnDef="actions" class="category-block__actions-column">
            <th class="category-block__title" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="category-block__value" mat-cell *matCellDef="let category">
                <mat-icon class="category-block__delete-button" (click)="deleteCategory(category)">delete</mat-icon>
                <mat-icon class="category-block__edit-button" (click)="changeMode(category)">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
        <tr mat-row *matRowDef="let category; columns: displayedColums;"></tr>
        
    </table>
</div>