<header class="header">
    <div class="header__container">
        <nav class="header__navigation">
            <button routerLink="/tasks" mat-raised-button color="accent" [disabled]="!(userService.isSigned$ | async)" class="header__link">Tasks</button>
            <button routerLink="/categories" mat-raised-button color="accent" [disabled]="!(userService.isSigned$ | async)" class="header__link">Categories</button>
        </nav>
        <div class="header__button-container">
            <button mat-raised-button color="accent" [disabled]="!(userService.isSigned$ | async)" class="header__save-button" (click)="saveChanges()">Save</button>
            <button routerLink="/profile" mat-raised-button color="accent" [disabled]="!(userService.isSigned$ | async)" class="header__profile-button">Profile</button>
            <button mat-raised-button color="warn" *ngIf="userService.isSigned$ | async" class="header__sign-out-button" (click)="signOut()">Sign Out</button>
            <button routerLink="/auth" mat-raised-button color="warn" *ngIf="!(userService.isSigned$ | async)" class="header__sign-in-button">Sign In</button>
        </div>
    </div>
</header>