.authorization {
    position: relative;
    display: flex;
    justify-content: center;

    &__content {
        max-width: 300px;
        position: absolute;
        top: 100px;
    }

    &__registration-toggle {
        margin-bottom: 10px;
    }

    &__email-input, &__password-input {
        width: 100%;
        margin-bottom: 10px;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}