.creating-task {

    &__content {
        display: flex;
        flex-direction: column;

        mat-form-field {
            width: 100%;
        }
    }

    &__category-select {
        
        mat-select {
            padding: 10px 0;
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .creating-task {
       
        &__category-select {
            
            mat-select {
                overflow-y: auto;
            }
        }
    }
}